body {
    font-family: Arial; 
}

.centered {
  text-align: center;
}

#circle1 {
  fill: red;
  stroke: black;
  stroke-width: 3px;
}

#circle2 {
  fill: deeppink;
}

#circle3 {
  fill: rebeccapurple;
  border-style: solid;
  stroke: black;
  stroke-width: 3px;
}

